html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

body {
  background: linear-gradient(to bottom, #050a1a, #071024, #0a172e);
  min-height: 100vh;
}

h1 {
  font-size: 2.7rem;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
